// base
$opa-color-white: #ffffff;
$opa-color-black: #000000;

// green
$opa-color-primary-green: rgb(63, 105, 47); // #3f692f;
$opa-color-secondary-green: rgb(138, 168, 116); // #8aa874;

// grey
$opa-background-grey: rgb(199, 197, 193); // #c7c5c1;
$opa-color-graphite: #3c4242;
$opa-color-grey-2: #666666;
$opa-color-grey-3: #8a8a8f;
$opa-color-grey-4: #c8c7cc;
$opa-color-grey-5: #efeff4;
$opa-color-grey-6: #f9f9f9;
//brown
$opa-header-background: rgb(49, 45, 42); // #312d2a

// green
$opa-color-green: rgb(17, 129, 4); // #118104
// red
$opa-color-red: rgb(216, 35, 37); // #d82325;

// blue
$opa-color-light-blue: rgb(0, 118, 213);
