html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-weight: $opa-font-weight-normal;
	font-size: $opa-body-font-size-medium;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $opa-color-white;
	color: $opa-color-white;
}

strong {
	font-weight: $opa-font-weight-bold;
}
.disabled {
	cursor: not-allowed;
}

.margin-16 {
	margin: $opa-spacing-3;
}
.opa-error-text {
	color: $opa-color-red;
}
