$opa-spacer: 8px !default;

$opa-spacing-1: $opa-spacer * 0.5; // 4px
$opa-spacing-2: $opa-spacer * 1; // 8px
$opa-spacing-3: $opa-spacer * 2; // 16px
$opa-spacing-4: $opa-spacer * 3; // 24px
$opa-spacing-5: $opa-spacer * 4; // 32px
$opa-spacing-6: $opa-spacer * 5; // 40px
$opa-spacing-7: $opa-spacer * 6; // 48px
$opa-spacing-8: $opa-spacer * 7; // 56px
$opa-spacing-9: $opa-spacer * 8; // 64px
$opa-spacing-10: $opa-spacer * 9; // 72px
$opa-spacing-11: $opa-spacer * 10; // 80px
$opa-spacing-12: $opa-spacer * 11; // 88px
$opa-spacing-13: $opa-spacer * 12; // 96px
$opa-spacing-14: $opa-spacer * 13; // 104px
$opa-spacing-15: $opa-spacer * 14; // 112px
