@import '../../../styles/main.scss';
.opa-create-report {
	color: $opa-color-black;
	margin: $opa-spacing-3 10%;
	&--title {
		font-weight: $opa-font-weight-light;
	}
	&__form {
		margin: $opa-spacing-3 0;

		&__file-upload {
			position: relative;
			display: inline-block;
			cursor: pointer;
			height: 2.5rem;
			width: 360px;
			&-input {
				min-width: 14rem;
				margin: 0;
				opacity: 0;
			}
			&-custom {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				z-index: 5;
				height: 2.5rem;
				padding: 0.5rem 1rem;
				line-height: 1.5;
				color: #555;
				background-color: $opa-color-white;
				border: 0.075rem solid #ddd;
				border-radius: 0.25rem;
				box-shadow: inset 0 0.2rem 0.4rem rgba($opa-color-black, 0.05);
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				&:after {
					content: 'Choose file...';
				}
				&:before {
					position: absolute;
					top: -0.075rem;
					right: -0.075rem;
					bottom: -0.075rem;
					z-index: 6;
					display: block;
					content: 'Browse';
					height: 2.5rem;
					padding: 0.5rem 1rem;
					line-height: 1.5;
					color: #555;
					background-color: #eee;
					border: 0.075rem solid #ddd;
					border-radius: 0 0.25rem 0.25rem 0;
				}
			}
		}
		&__file-upload,
		&--file-details {
			margin: $opa-spacing-3;
		}
		&--item-btn,
		&--action-btns {
			margin: $opa-spacing-3;
		}
		&--btn {
			margin: $opa-spacing-3 0;
		}
	}
}
